@import "bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: "Lexend", sans-serif;
  background-color: #f9f7f6;
  color: #102733;
  font-size: 16px;
  // font-family: "Lexend";
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}
